// ==============================
// Logo
// =============================

.logo-wrapper {
  float: left;
  
  .logo {
    font-size: $logo-font-size;
    font-family: $logo-font-family;
    // background-image: url("https://chendongze.oss-cn-shanghai.aliyuncs.com/ipic/vqitp.jpg");  
  }
}

@include max-screen() {
  .logo-wrapper {
    display: none;
  }
}
